@import "tailwindcss";


.marg2{
 margin-left: 10px;
 
}
.marg3{
  
  margin-top: 10px;
 margin-left: 10px;
 
}
.typing {
  display: inline-block;
  overflow: hidden; /* Esconde o texto enquanto escreve/apaga */
  white-space: nowrap;
  border-right: 4px solid white; /* Cursor */
  animation: typing 8s steps(20) infinite, blink 0.7s step-end infinite;
}

/* Animar digitar + apagar */
@keyframes typing {
  0%, 20% { width: 0; }
  40%, 60% { width: 100%; }
  80%, 100% { width: 0; }
}

/* Cursor piscando */
@keyframes blink {
  50% { border-color: transparent; }
}
